
.shopping-list-width{
    margin-top: 10px;
    width: 100%;
    max-width: 700px;
}

.shopping-list-route-style-container {
    height: 100%;
    min-height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.shopping-list-header {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Platz zwischen den Elementen verteilen */
    align-items: center; /* Vertikale Zentrierung */
    width: 100%;
    span{
        color: #407088;
        font-size: 23px;
        font-weight: 600;
    }
}



.create-shopping-item-icon-container{
    display: flex;
    justify-content: flex-end;
    
    padding-right: 20px;
    

    img{
        cursor: pointer;
        width: 35px;
        height: 35px;
    }

    
    
}

.shoppinglist-empty{
    font-size: 20px;
    color: #407088;
    font-weight: 400;
    margin-top: 60px;
}

.shoppinglist-title-navigate{
    cursor: pointer;
}

