.cart-product-name {
    line-height: 30px;
    
    
    text-align: center;
    
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: .5s ease;
  }
  
  .cart-product-name::placeholder {
    color: #94a3b8;
  }
  
  .cart-product-name:focus, .cart-product-name:hover {
    outline: none;
    border-color: rgba(64, 112, 136, 1);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(64 112 136 / 30%);
  }