.nav-style-container-width{
    width: 100%;
    max-width: 500px;
    
}
    
img{
    margin-left:10px;
    filter: invert(39%) sepia(18%) saturate(1010%) hue-rotate(156deg) brightness(97%) contrast(91%);
    height: 32px;
    width: 32px;
    cursor: pointer;
    

}
.nav-sign-in{
    margin-right: 10px;
    color: #407088;
    font-size: 20px;
    font-weight: 600;
    padding-right: 10px
}



