.cart-product-container{
    margin-top: 10px;
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #407088;
    border-radius: 5px;
    padding: 10px;
    
    .remove-cart-product{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
   
}

.quantity-span-container{
    display: flex;
    min-width: 30px;
    margin-right: 5px;
    span{
        font-weight: 600;
        display: block;
        font-size: 17px;
        color: #407088
    }
}

.product-name-span-container{
    width: 100%;
    span{
        width: 100%;
        cursor: pointer;
        font-weight: 600;
        color: #407088;
        text-align: left;
        font-size: 15px;
    }
}

.is-toggle{
    
    text-decoration: line-through;
}